form{
    display:block;
    position: relative;
}
.form-inner .form-group label {
    display: block;
    color: black;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 7px;
    transition: 0.4s;
}

h2 {
    margin-bottom: 50px;
    font-size: 30px;
}
.form-inner .form-group:focus-within label {
    color: #FE4880;
}

form .form-inner input[type="submit"]{
    display: inline-block;
    margin-top: 40px;
    background-color: black;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
}

input{
    width: 220px;
    padding: 7px;
    background-color: #fabaca;
    border: none;
    
}
/*.form-group label {
    text-align: left;
    font-family:'Playfair Display';
}*/

